In [1]:
x=95
if x>=90:
    print("pass")

pass

In [2]:
x=75
if x>=90:
    print('pass')
else:
    print('Fail')

Fail

In [6]:
def score(x):
    if x >=90:
        print('very good')
    elif (x>=80) and (x<90):
        print('good')
    else:
        print('bad')

In [10]:
def perfect(x):
    if x >=90:
        if x==100:
            print('Perfect')
        else:
            print('very good')
    elif (x>=80) and (x<90):
        print('good')
    else:
        print('bad')

In [37]:
for i in range(5):
    i+=1
    
i

5

In [38]:
myFriends=['James', 'Robert','Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [49]:
data=[]
for i in range(20,0,-2):
    data.append(i)

data

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [57]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [61]:
x_list = ['x1', 'x2']
y_list=['y1','y2']

for x in x_list:
    for y in y_list:
        print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

In [64]:
scores=[95,96,97,94]
for k in range(len(myFriends)):
    print(myFriends[k],scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [65]:
for myFriends, score in zip(myFriends, scores):
    print(myFriends, score)

James 95
Robert 96
Lisa 97
Mary 94

In [66]:
i=0
sum=0
print('i sum')
while (sum<20):
    i=i+1
    sum=sum+i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [70]:
k=0
while 1:
    k=k+1
    
    if (k>3):
        break
    
    print(k)

1
2
3

In [73]:
for k in range(10):
    if (k>2):
        break
        
    print(k)

0
1
2

In [76]:
for k in range(5):
    if (k==2):
        continue
        
    print(k)

0
1
3
4

In [77]:
k=0
while True:
    k=k+1
    
    if(k==2):
        print('continue next')
        continue
    if(k>4):
        break
        
    print(k)

1
continue next
3
4

In [78]:
num=[1,2,3,4,5]
sq=[]

for i in num :
    sq.append(i**2)
    
print(sq)

[1, 4, 9, 16, 25]

In [79]:
squ=[i**2 for i in num]
print(squ)

[1, 4, 9, 16, 25]

In [81]:
squa=[]

for i in num :
    if i >=3:
        squa.append(i**2)
        
print(squa)

[9, 16, 25]

In [83]:
squar=[i**2 for i in num if i>=3]
print(squar)

[9, 16, 25]

In [94]:
def Multiply(a,b):
    a*b

In [96]:
Multiply(3,2)

6