In [1]:
def my_func():
    print('My first function')
    print('This is a function')

In [2]:
my_func()

My first function
This is a function

In [2]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [3]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [4]:
def my_student_info(name, school_ID, phoneNumber):
    print("-----------------------")
    print('- 학생이름:', name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [5]:
my_student_info("현아","01","01-235-6789")
my_student_info('진수','02', '01-987-6543')

-----------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
-----------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [6]:
def my_student_info(name, school_ID, phoneNumber):
    print("-----------------------")
    print('* 학생이름:', name)
    print("* 학급번호:", school_ID)
    print("* 전화번호:", phoneNumber)

In [7]:
my_student_info("현아","01","01-235-6789")
my_student_info('진수','02', '01-987-6543')

-----------------------
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
-----------------------
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543

In [8]:
def my_calc(x,y):
    z=x*y
    return z

In [9]:
my_calc(3,4)

12

In [10]:
def my_student_info_list(student_info):
    print("-----------------------")
    print('* 학생이름:', student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("-----------------------")

In [12]:
student1_info=["현아","01","01-235-6789"]
my_student_info_list(student1_info)

-----------------------
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
-----------------------

In [13]:
my_student_info_list(['진수','02', '01-987-6543'])

-----------------------
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
-----------------------

In [24]:
a=5

def func1():
    a=1
    print("[func1] 지역 변수 a=", a)
    
def func2():
    a=2
    print("[func2] 지역 변수 a=", a)

def func3():
    print("[func3] 전역 변수 a=", a)

def func4():
    global a
    a = 4
    print("[func4] 전역 변수 a=", a)

In [25]:
func1()
func2()
print('전역변수 a=', a)
func3()
func4()
func3()

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
전역변수 a= 5
[func3] 전역 변수 a= 5
[func4] 전역 변수 a= 4
[func3] 전역 변수 a= 4

In [26]:
(lambda x : x**2)(3)

9

In [28]:
mySquare = lambda x : x**2
mySquare(3)
mySquare(5)

25

In [30]:
mySimpleFunc = lambda x,y,z : 2*x+3*y+z
mySimpleFunc(1,2,3)

11

In [35]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [36]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

In [37]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [38]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [39]:
[str(123), str(45678), str(-987)]

['123', '45678', '-987']

In [40]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

In [41]:
list_data=['abc', 1, 2, 'def']
tuple_data=('abc',1,2,'def')
set_data={'abc',1,2,'def'}

In [42]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [43]:
print('리스트로 변환:', list(tuple_data), list(set_data))
print('튜플로 변환:', tuple(list_data), tuple(set_data))
print('세트로 변환', set(list_data), set(tuple_data))

리스트로 변환: ['abc', 1, 2, 'def'] ['def', 1, 'abc', 2]
튜플로 변환: ('abc', 1, 2, 'def') ('def', 1, 'abc', 2)
세트로 변환 {'def', 1, 'abc', 2} {'def', 1, 'abc', 2}

In [46]:
print(bool(0), bool(1), bool(-10), bool(5.12), bool(-3.26))

False True True True True

In [47]:
print(bool('a'), bool(' '), bool(''), bool(None))

True True False False

In [48]:
myFriends=[]
bool(myFriends)

False

In [49]:
myFriends=['James', 'Rober']
bool(myFriends)

True

In [50]:
myNum=()
bool(myNum)

False

In [51]:
myNum=(1,2,3)
bool(myNum)

True

In [52]:
mySetA={}
bool(mySetA)

False

In [53]:
mySetA={10,20,30}
bool(mySetA)

True

In [54]:
def print_name(name):
    if bool(name):
        print('입력된 이름:', name)
    else:
        print('입력된 이름이 없습니다.')

In [55]:
print_name('James')

입력된 이름: James

In [56]:
print_name('')

입력된 이름이 없습니다.

In [58]:
myNum=[10,5,12,0,3.5,99.5,42]
[min(myNum), max(myNum)]

[0, 99.5]

In [62]:
myStr='ZxyaAbBc'
[min(myStr), max(myStr)]

['A', 'y']

In [63]:
myNum=(10,5,12,0,3.5,99.5,42)
[min(myNum), max(myNum)]

[0, 99.5]

In [67]:
myNum={'Abc','abc','bcd','efg'}
[min(myNum), max(myNum)]

['Abc', 'efg']

In [74]:
print([abs(10), abs(-10)], [abs(2.45), abs(-2.45)])

[10, 10] [2.45, 2.45]

In [75]:
sumList=[1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [80]:
print(len('ab,cd'))
print(len([1,2,3,4,5,6,7,8]))
print(len((1,2,3,4,5)))
print(len({'a','b','c','d'}))
print(len({1:'Thomas', 2:'Edward', 3:'Henry'}))

5
8
5
4
3

In [82]:
scores=[90,80,95,85]

score_sum=0
subject_num=0
for score in scores:
    score_sum = score_sum+score
    subject_num=subject_num +1
    
average=score_sum/subject_num

print('총점:{0}, 평균:{1}'.format(score_sum, average))

총점:350, 평균:87.5

In [84]:
scores=[90,80,95,85]
print('총점:{0}, 평균:{1}'.format(sum(scores), sum(scores)/len(scores)))
print('최하 점수 : {0}, 최고 점수: {1}'.format(min(scores), max(scores)))

총점:350, 평균:87.5
최하 점수 : 80, 최고 점수: 95